*{
    margin: 0;
    padding: 0;
}

.heading{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    background-color: #C5FFFD;

    
    
}

.boxes{
   /* background-color: red; */
   height: 200px;
   width: 50rem;
   display: flex;
   justify-content: center;
   gap: 60px;

}

.box{
    height: 200px;
    width: 200px;
    /* background-color: red; */
    border-radius: 100%;
    margin-bottom: 40vh;
    border: 4px solid black;
}

button:active{
    cursor: pointer;
    height: 28vh;
    width: 28vh;  
    opacity: 0.5;;
    
}
button:hover{
    cursor: pointer;
 
}

.rock{
    background-image: url(rock.png);
    background-size: cover;
}

.paper{
    background-image: url(paper.png);
    background-size: cover;
}
.scissor{
    background-image: url(scissor.png);
    background-size: cover;
}

.usrcount{
    /* background-color: red; */
    height: 10vh;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.compcount{
    /* background-color: blue; */
    height: 10vh;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.score{
    height: 10rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    gap: 15rem;
}

.board{
    height: 5rem;
    width: 30rem;
    background-color: #374B4A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:4vh;
    border-radius: 30px;

}

.U-count{
    font-size: 2rem;
}
.C-count{
    font-size: 2rem;
}